p {
  margin: 10px 0 !important;
}
.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

i.fa-small {
  font-size: 1.3rem;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.more-stories-link {
  margin-right: 0 !important;
}

.card .card-content {
  word-break: break-word;
}

.card .card-content p {
  height: 120px;
  overflow-y: scroll;
}

.story {
}

.story-container {
  word-break: break-word;
}

.dashboard {
}
