<h1>Stories</h1>
<div class="row stories">
  {{#each stories as |currentStory|}}
  {{> _story_card story=currentStory loggedInUser=../user}}

  {{else}}
  <p>No stories to display</p>
  {{/each}}
</div>
